<h1>Editing Todo</h1>

<%= form_with(model: [@todo.project, @todo],local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', project_path(@todo.project_id) %>
