<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @log.title %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Delete', @log, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', article_path(@log.article_id) %>
